.header-slider {
	display: flex;
	align-items: center;
}

.header-slider_wrapper {
	padding-top: 100px;
	padding-bottom: 100px;
}

.slider-arrow {
	position: relative;
	cursor: pointer;
	transition: transform 0.3s;

	&:hover {
		transform: scale(1.2);
	}

	&::after {
		dosplay: block;
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border: none;
		transition: width 0.3s, height 0.3s;
	}

	&:hover::after {
		display: block;
		content: '';
		width: 46px;
		height: 46px;
		border: 1px solid $content-text-color__white;
		bottom: -2px;
		left: -14px;
		position: absolute;
	}
}

.slider-body {
	display: flex;
	margin: 0 auto;
}

.slider-body__picture {
	margin-right: 50px;
}

.slider-body__text {
	max-width: 450px;
	font-weight: 300;
	color: $content-text-color__white;
}

.slider-body__caption {
	font-weight: 300;
	font-size: 55px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.slider-body__description {
	font-size: 24px;
}

.main-btn_slider-wrapper {
	margin-top: 40px;
	margin-bottom: 64px;
}

.slider-body__dotts {
	display: flex;
}

.slider-body__dott {
	width: 8px;
	height: 8px;
	margin-right: 13px;
	border: 1px solid $content-text-color__white;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: $content-text-color__white;
	}
}


